/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Aug-2019, 13:51:29
    Author     : eibhl
*/

#carouselPhotosControls {
    margin: 10px;
}
@media (min-width: 768px) {
    #carouselPhotosControls {
        margin: 20px 25% 20px 25%;
    }
}

.feedback-msg {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

#form-edit-title {
    margin-top: 0.5rem;
}

#edit-title-form {
    margin-right: 1rem;
}

#edit-title-btn, #cancel-edit-btn {
    margin-top: 0.5rem;
    margin-right: 1rem;
}
