/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Aug-2019, 13:51:29
    Author     : eibhl
*/

#carouselPhotosControls {
    margin: 10px;
}
@media (min-width: 768px) {
    #carouselPhotosControls {
        margin: 10px 25% 10px 25%;
    }
}

.feedback-msg {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

@media only screen and (max-width: 768px) {
    .photo-img {
        margin: 0 auto;
    }
}
