<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add Photos</title>
    <meta charset="windows-1252">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script>
		$(document).ready(function() {
			bsCustomFileInput.init()
		});

		$(document).ready(function() {
			var max_fields      = 5; //maximum input boxes allowed
			var wrapper   		= $("#addPhotoWrap"); //Fields wrapper
			var add_button      = $("#addPhotoBtn"); //Add button ID
	
			var x = 1; //initlal text box count
			$(add_button).click(function(e){ //on add input button click
				e.preventDefault();
				if(x < max_fields){ //max input box allowed
					x++; //text box increment
					$(wrapper).append('<div class="form-group" style="margin-top: 1rem;"><label for="photoFile">Choose Image</label><input type="file" class="form-control-file" name="photoSrc[]" id="photoFile"><a href="#" class="remove_field">x</a></div>'); //add input box
				}
			});
	
			$(wrapper).on("click",".remove_field", function(e){ //user click on remove text
				e.preventDefault(); $(this).parent('div').remove(); x--;
			})
		});
	</script>
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #5900b3;">
        <a class="navbar-brand mb-0 h1" href="/">Photo Gallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/albums">Albums</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/addphoto">Add Photo</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="row">
			<div class="col-12" style="margin-top: 56px;">
				<form>
					<div class="form-group col-md-4">
						<label for="albumName">Album</label>
						<select id="inputState" class="form-control">
							<option selected>Choose...</option>
							<%for(var i=0; i<albums.length; i++) {%>
							<option value="<%=albums[i].id%>"><%=albums[i].name%></option>
							<%}%>
						</select>
					</div>
					<div class="col-md-4" id="addPhotoWrap">
						<button type="button" class="btn btn-primary" id="addPhotoBtn">Add Field</button>
						<div class="form-group" style="margin-top: 1rem;">
							<label for="photoFile">Choose Image</label>
							<input type="file" class="form-control-file" name="photoSrc[]" id="photoFile">
						</div>
					</div>
				</form>
			</div>	
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
</body>
</html>